<h1 class="thank-you-title">You Rock!</h1>
<h4 class= "thanks-page">Thank you for reaching out. Our team will be in touch with you shortly.<br><br> In the meantime, feel free to browse our selections.</h4>
