    <div class="col-sm
       <%= link_to image_tag(product.image_url, class: "img-fluid"), product %>
      <h1><%= link_to product.name, product %></h1>
      <% logger.debug "Product name is #{product.name}"%>
      <p><%= product.description %></p>
      <strong>$ <%= product.price %></strong>
    </div><!-- /col -->
