<p id="notice"><%= notice %></p>

<h1 class="product-title">Explore Our Vinyl!</h1>

<div class="container-fluid" id="main-product-page">
  <div class="row" id="main-products">
    <% cache(cache_key_for_products) do %>
    <%= render partial: "products/product", collection: @products %>
    <% end %>
  </div>
</div>
<br>


<%= link_to 'New Product', new_product_path %>
